<!-- ================ game-view.html ============== -->
<section id="game">

    <div class="map-wrap" ng-show="{{fcb}}">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1Ls7QhSyKrvy8dda4R4di3_5kSDC9Fwwi&hl=es" width="640" height="480"></iframe>
    </div>
    <div class="map-wrap" ng-show="{{bayern}}">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1UUrwBT-WcgsgXJwlG0Z4tgHg10emzZ8m" width="640" height="480"></iframe>
    </div>

    <div class="map-wrap" ng-show="{{psv}}">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1mLaytOg8V4d_svkuj11eCda4fkIyBouW" width="640" height="480"></iframe>
    </div>
    <div class="map-wrap" ng-show="{{arsenal}}">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1pXA5QXFIMNMGx9MCa_ujYgTsZ2LjqoXN" width="640" height="480"></iframe>
    </div>
    <div id="game-info-wrap" class="to-the-top">
        <div class="translucent">
            <div id="game-info" class="menu-head darkest-green over-the-top">
                <span onclick="this.parentNode.parentNode.style.display='none'">X</span><span>Barcelona</span><span>{{now}}</span>

            </div>
            <div class="menu-head">
                <span>Teams</span>
            </div>
            <div class="menu-item">
                <span class="small">{{match.hometeam}} vs {{match.awayteam}}</span>

            </div>
            <div class="menu-head">
                <span>Location</span>
            </div>
            <div class="menu-item">
                <span>{{match.location}}</span>

            </div>
            <div class="menu-head">
                <span>Adress</span>
            </div>
            <div class="menu-item">
                <span class="small">{{team.adress}}</span>

            </div>

        </div>
    </div>

</section>


