<div id="schedule" ng-controller="ScheduleController">
    <div class="menu-head schedule-head">
        <label>SCHEDULE</label>
        <img src="assets/img/calendar.svg" height="30px">
    </div>


    <div ng-include=" 'assets/partials/dynamic-filters-angular.htm' " id="dynamic-filters"></div>

    <div class="schedule-wrap">

        <div class="" ng-repeat="x in nyslData.matches | filter: userFilter">

            <a class="menu-item font-18 white-bck" href="#/game/{{x.matchId}}" ng-click="setMatchId(x.matchId)">
                <label>{{x.date}}</label>
                <label>
                    {{x.hometeam }} vs {{x.awayteam}}
                </label>
            </a>
            <div class="menu-item font-18 light-bck ">
                <label>Location: {{x.location}}</label>
                <label><button class="chat-button" ng-click="goToChat(x.matchId)">chat</button>{{x.time}}</label>
            </div>

        </div>
    </div>
    <!--                end .schedule-wrap-->
</div>

<!--            end #schedule -->