<!--<p>This is view 3</p>-->

<!-- ================ game-data-angular.htm ============== -->
<section id="game">
    <div >
        <iframe id="map-wrap" class="map" src="https://www.google.com/maps/d/embed?mid=1QOVSYhvBlWmrHp5y-4o3regL83A"></iframe>
    </div>
    <div id="game-info-wrap" class="to-the-top">
        <div class="translucent">
            <div id="game-info" class="menu-head darkest-green over-the-top">
                <span onclick="this.parentNode.parentNode.style.display='none'">X</span><span>Barcelona</span><span>09/11/16</span><span>18:37h</span>

            </div>
            <div class="menu-head">
                <span>TEAMS</span>
            </div>
            <div class="menu-item">
                <span>U1 &amp; U4</span>

            </div>
            <div class="menu-head">
                <span>LOCATION</span>
            </div>
            <div class="menu-item">
                <span>Field 1 - AJ. Katzemaier</span>

            </div>
            <div class="menu-head">
                <span>ADRESS</span>
            </div>
            <div class="menu-item">
                <span>Somewhere St. - ZIP CODE</span>

            </div>

        </div>
    </div>

</section>


