<!-- ----------- info-angular.htm --------------->


<div id="scroll-wrap" ng-controller="HomeController">
    <div class="menu-head">
        <label>INFO</label>
        <img src="assets/img/information-icon.svg" height="30px">
    </div>
    <div ng-click="teams = !teams" class="menu-item" scroll-on-click>
        <!--<div class="menu-item">-->
            <span>LIST OF TEAMS</span>
            <img src="assets/img/team-list-icon-dark.svg" height="30px">
        <!--</div>-->
    </div>
    <div ng-show="teams" id="team-list" class="accordion">
        <div class="menu-item font-18 white-bck" ng-repeat="x in Teams|limitTo:5">
            
            <label>{{x.teamname}}</label>
            <a href="{{x.site}}"> Official Website
            </a>
        </div>

    </div>
    <div ng-click="fields = !fields" class="menu-item" scroll-on-click>
        <!--<a class="menu-item" href="#/view2">-->
            <label>FIELD INFO</label>
            <img src="assets/img/location-map-dark.svg" height="30px">
        <!--</a>-->
    </div>

    <div id="field-info" ng-show="fields" class="accordion">
        <div class="menu-item font-18 white-bck" ng-repeat="x in Teams|limitTo:5" ng-click="show_map = !show_map">
            <a href="{{x.map}}">
            <label>{{x.location}}</label>
            <label>( {{x.teamname}} )</label>
            </a>
        </div>
    </div>
    <div ng-click="myteam = !myteam" class="menu-item" scroll-on-click>
        <!--<a class="menu-item" href="#/view2">-->
            <label>MY TEAM</label>
            <img src="assets/img/my-team-icon-dark.svg" height="30px">
        <!--</a>-->
    </div>
    <div id="my-team" ng-show="myteam" class="accordion">
        <div class="menu-item font-18 white-bck">
            <label>My Team:</label>
            <label>{{Teams[3].teamname}}</label>
        </div>
        <div class="menu-item font-18 white-bck"> 
            <label>My Stadium:</label>
            <label>{{Teams[3].location}}</label>
        </div>
        <div class="menu-item font-18 white-bck"> 
            <label>Foundation Year:</label>
            <label>{{Teams[3].year}}</label>
        </div>
        <div class="menu-item font-18 white-bck"> 
            <label>Club Members:</label>
            <label>{{Teams[3].members}}</label>
        </div>
    </div>
   
</div>
